body{
    font-family: Georgia, helvetica;
	background:#556052;
    background-image: url('5-1.webp');
    background-size: cover;
  background-position: center;

}

.card{
    list-style: none;
    background: #cbbcb1;
    margin: auto;

}

p{ 
    color:black;
    font-family:'Times New Roman';
}
h5{
    color:black;
font-family: Georgia;
}

.menu{
	list-style: none;
	padding: 0;
	background:#AF6B58;
	width: 100%;
	max-width: 1000px;
	margin: 30px auto;
}

.menu li a{
	text-decoration: none;
	color:black;
	padding: 20px;
	font-size: 20px;
	display: block;
	font-family: 'Open sans';
}

.menu li{
	position: relative;
	display: inline-block;
	text-align:left;
}

.menu li a:hover{
	background:#cbbcb1;
	transition: all .3s;
}


.smenu1{
	position: absolute;
	background: #333333;
	width: 150%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.smenu1 li a{
	display: block;
	width: 100%;
	padding: 15px;
	font-size: 13px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .smenu1{
	visibility: visible;
	opacity: 1;
}



.smenu1{
	position: absolute;
	background: #333333;
	width: 150%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}
.smenu2{
	position: absolute;
	background: #333333;
	width: 150%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}
.smenu2 li a{
	display: block;
	width: 100%;
	padding: 15px;
	font-size: 13px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .smenu2{
	visibility: visible;
	opacity: 1;
}

.smenu2{
	position: absolute;
	background: #333333;
	width: 150%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}



.smenu3{
	position: absolute;
	background: #333333;
	width: 100%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.smenu3 li a{
	display: block;
	width: 100%;
	padding: 15px;
	font-size: 13px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .smenu3{
	visibility: visible;
	opacity: 1;
}
.smenu3{
	position: absolute;
	background: #333333;
	width: 150%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

